@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-DemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF/VisbyCF-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* #### elementos home #### */

.bg-element-2 {
  background-image: url('/images/bgElement2.png');
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: cover;
  background-position: left center;
  position: absolute;
  top: -130px;
  left: 0;
  width: 511px;
  height: 596px;
  z-index: 10;
}
@media (max-width: 1670px) {
  .bg-element-2 {
    left: -160px;
  }
}
@media (max-width: 1390px) {
  .bg-element-2 {
    left: -280px;
  }
}
@media (max-width: 1170px) {
  .bg-element-2 {
    left: -360px;
    top: -160px;
  }
}
@media (max-width: 1090px) {
  .bg-element-2 {
    display: none;
  }
}

.bg-element-3 {
  background-image: url('/images/bgElement3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  top: -180px;
  right: 0;
  width: 499px;
  height: 500px;
  z-index: 10;
}
@media (max-width: 1450px) {
  .bg-element-3 {
    width: 339px;
  }
}
@media (max-width: 1200px) {
  .bg-element-3 {
    width: 199px;
  }
}
@media (max-width: 768px) {
  .bg-element-3 {
    display: none;
  }
}

.bg-element-4 {
  background-image: url('/images/bgElement4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  top: 102px;
  left: 0;
  width: 465px;
  height: 669px;
  z-index: 10;
}
@media (max-width: 1950px) {
  .bg-element-4 {
    left: -100px;
    top: -50px
  }
}
@media (max-width: 1680px) {
  .bg-element-4 {
    left: -250px;
    top: -100px;
  }
}
@media (max-width: 1290px) {
  .bg-element-4 {
    left: -350px;
    top: -100px;
  }
}
@media (max-width: 1080px) {
  .bg-element-4 {
    left: -400px;
    top: -100px;
  }
}
@media (max-width: 768px) {
  .bg-element-4 {
    display: none;
  }
}

.bg-element-5 {
  background-image: url('/images/bgElement5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  top: -270px;
  right: 60px;
  width: 376px;
  height: 402px;
  z-index: 10;
}
@media (max-width: 1670px) {
  .bg-element-5 {
    width: 276px;
    right: 0;
  }
}
@media (max-width: 1260px) {
  .bg-element-5 {
    width: 176px;
  }
}
@media (max-width: 768px) {
  .bg-element-5 {
    display: none;
  }
}
